body
{
    background-color: green;
}

#keret
{
    background-color: cornsilk;
    width: 880px;
    margin: auto;
    height: 1200px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 35px;
    border-top-left-radius: 70px;
    border-bottom-right-radius: 70px;
    position: relative;
}

#szoveg
{
    position: absolute;
    top: 200px;
    left: 200px;
}

#fix
{
    background-color: yellow;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 40px;
    text-align: center;
    position: fixed;
    bottom: 15px;
    right: 10px;
}

a
{
    color: red;
    font-weight: bold;
}