body
{
    background-color: green;
}

#keret
{
    background-color: cornsilk;
    width: 880px;
    margin: auto;
    height: 1200px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 35px;
    border-top-left-radius: 70px;
    border-bottom-right-radius: 70px;
    position: relative;
}

#szoveg
{
    position: absolute;
    top: 200px;
    left: 200px;
}